dataset/*.npy
dataset/*.tar.gz
dataset/processed
dataset/*.txt
build/
dev/
save_model/
sample_traj/
notebook/geom_files/
notebook/*.sdf
notebook/*.xyz
notebook/exported_xyz/**/*.xyz

model_path/*.tar.gz
**/model_path/**/*.pth
**/model_path/**/*.npy

rmsd_calc/
MolOP-main/
ts_initial_guess/
*.egg-info
*.pyc
*.pt