ase==3.26.0
e3nn==0.5.7
h5py==3.15.1
ipykernel==6.30.1
matplotlib==3.10.6
networkx==3.3
numpy==1.26.4
openbabel-wheel==3.1.1.22
pandas==2.3.2
plotly==6.3.0
pyg-lib==0.4.0+pt24cu124
pymatgen==2025.6.14
PyMuPDF==1.26.7
rdkit==2025.3.5
rmsd==1.6.4
scikit-learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
torch==2.4.0
torch-geometric==2.6.1
torch_cluster==1.6.3+pt24cu124
torch_scatter==2.1.2+pt24cu124
torch_sparse==0.6.18+pt24cu124
torch_spline_conv==1.2.2+pt24cu124
torchaudio==2.4.0
torchdiffeq==0.2.5
torchelastic==0.2.2
torchvision==0.19.0
imageio==2.37.2